* {
    margin: 0;
    padding: 0;
}

body {
    background: #eee;
    color: #333;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    min-width: 320px;
}

main {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1000px;
}

.header {
    position: relative;
    overflow: hidden;
    min-height: 150px;
    border-top: solid 3px #ccc;
    border-bottom: solid 3px #ccc;
    background-color: #0f4583;
}

.header-back {
    position: absolute;
    left: 0;
    top: 0;
}

.logo-2018 {
    position: absolute;
    width: 100%;
    right: -63%;
    top: 25px;
}

#logo-1 {
    display: none;
}

.teremok {
    position: absolute;
    width: 100%;
    right: -10%;
    top: 0;
}

.blog-post {
    background: #fff;
    position: relative;
    padding: 30px;
    margin: 10px;
    border: solid 3px #ccc;
    word-wrap: break-word;
}

.post-body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
}

@media (max-width: 790px) {
    .post-body {
        -ms-grid-columns: 1fr;
            grid-template-columns: 1fr;
    }
}

.post-body2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;

}

@media (max-width: 850px) {
    .post-body2 {
        -ms-grid-columns: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
    }

    .table-container:nth-of-type(2) .timegame,
    .table-container:nth-of-type(4) .timegame,
    .table-container:nth-of-type(6) .timegame {
        border-right: 0;
    }
    .header-back,
    .teremok {
        display: none;
    }
    .logo-2018 {
        position: relative;
        margin-top: 8px;
        right: unset;
        top: unset;
        text-align: center;
    }

    #logo-2 {
    display: none;
    }

    #logo-1 {
    display: inline;
    }

    .header {
        border: none;
        background-color: unset;
        min-height: 120px;
    }
}

@media (max-width: 660px) {
    .post-body2 {
        -ms-grid-columns: 1fr;
            grid-template-columns: 1fr;
    }

    .table-container .timegame {
        border-right: 0;
    }
}

@media (min-width: 851px) {
    .table-container:nth-of-type(3) .timegame,
    .table-container:nth-of-type(6) .timegame {
        border-right: 0;
    }
}

/*-----------------------------Football Tables-------------------------*/

.group {
    /* max-width: 420px; */
    min-width: 230px;
}

.football {
    background-color: #fff;
    width: 100%;

    border-collapse: collapse;
    text-align: center;
    margin: 12px 0;
    table-layout: fixed;
}

.football th {
    font-weight: normal;
    color: #838383;
    border-bottom: 1px solid #E5E5E5;
    padding: 7px 0;
    width: 25px;
    min-width: 25px;
}

th.gruppa {
    position: relative;
    color: #212121;
    font-size: 12px;
    text-align: left;
    padding-left: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 60%;
}

/* @media (max-width: 347px) {
    .football .gruppa {
        width: 30px;
    }
} */

@media (max-width: 360px) {
    .football .gruppa:after {
        position: absolute;
        top: 8px;
        left: 0;
        right: 0;
        bottom: 0;
        padding-left: 8px;
        background: #fff;
        font-size: 14px;
        content: 'A';
    }

    .football .name-team:after {
        position: absolute;
        top: 10px;
        left: 23px;
        right: 0;
        bottom: 0;
        padding-left: 8px;
        background-color: #fff;
        font-size: 14px;
        content: '';
    }

    #group-b .football .gruppa:after {
        content: 'B';
    }

    #group-c .football .gruppa:after {
        content: 'C';
    }

    #group-d .football .gruppa:after {
        content: 'D';
    }

    #group-e .football .gruppa:after {
        content: 'E';
    }

    #group-f .football .gruppa:after {
        content: 'F';
    }

    #group-g .football .gruppa:after {
        content: 'G';
    }

    #group-h .football .gruppa:after {
        content: 'H';
    }
}

.football td {
    color: #212121;
    padding: 9px 2px;
    border-bottom: 1px solid #F2F2F2;
}

.football tr:last-child td {
    border-bottom: none;
}

.football .name-team {
    position: relative;
    text-align: left;
    padding-left: 32px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 51;
}

.football tr.team-cup:hover, .football tr.team-cup:hover .name-team:after {
    background-color: #FAFAFA;
    cursor: pointer;
}

.football tr:nth-of-type(2) .name-team,
.egypt {
    background: url("https://ssl.gstatic.com/onebox/media/sports/logos/lYah1Uqw37XdicC6C4HNqg_48x48.png") no-repeat left center;
}

.football tr:nth-of-type(3) .name-team,
.russia {
    background: url("https://ssl.gstatic.com/onebox/media/sports/logos/5Y6kOqiOIv2C1sP9C_BWtA_48x48.png") no-repeat left center;
}

.football tr:nth-of-type(4) .name-team,
.saudi-arabia {
    background: url("https://ssl.gstatic.com/onebox/media/sports/logos/QoAJxO46fHid3_T-7nRZ0Q_48x48.png") no-repeat left center;
}

.football tr:nth-of-type(5) .name-team,
.uruguay {
    background: url("https://ssl.gstatic.com/onebox/media/sports/logos/KnSUdQWiGRoy89q4x85IgA_48x48.png") no-repeat left center;
}

.post-body tr:nth-of-type(1n+1) .name-team,
.russia,
.egypt,
.uruguay,
.saudi-arabia {
    background-size: 24px;
}

.center {
    width: 100%;
    text-align: center;
}

h1 {
    margin-top: 25px;
    margin-bottom: 10px;
    color: #5b5b5b;
    font-size: 15px;
}

h2.matches {
    color: #5b5b5b;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h3 {
    position: relative;
    text-align: left;
    color: #6c6c6c;
    font-size: 13px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #F5F5F5;
    text-indent: 10px;
    border-top: 1px solid #E0E0E0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
}

h3:before {
    position: absolute;
    font-size: 19px;
    content: '\2191';
    top: 7px;
    right: 25px;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

h3:hover::before {
    opacity: 1;
}


/*
h3:hover {
    background-color: #fdfbff;
}
*/

/* ----------------------------Group B background------------------------- */

#group-b tr:nth-of-type(2) .name-team,
.Iran {
    background: url("https://ssl.gstatic.com/onebox/media/sports/logos/1oq8Fy7ETpBpZNaCA22ArQ_48x48.png") no-repeat left center;
}

#group-b tr:nth-of-type(3) .name-team,
.Morocco {
    background: url("https://ssl.gstatic.com/onebox/media/sports/logos/I3gt2Ew39ux3GGdZ-4JE3g_48x48.png") no-repeat left center;
}

#group-b tr:nth-of-type(4) .name-team,
.Portugal {
    background: url("https://ssl.gstatic.com/onebox/media/sports/logos/HJ3_2c4w791nZJj7n-Lj3Q_48x48.png") no-repeat left center;
}

#group-b tr:nth-of-type(5) .name-team,
.Spain {
    background: url("https://ssl.gstatic.com/onebox/media/sports/logos/5hLkf7KFHhmpaiOJQv8LmA_48x48.png") no-repeat left center;
}

.post-body #group-b tr:nth-of-type(1n+1) .name-team,
.Iran,
.Morocco,
.Portugal,
.Spain {
    background-size: 24px;
}

/* ----------------------------Group C background------------------------- */

#group-c tr:nth-of-type(2) .name-team,
.Australia {
    background: url("https://ssl.gstatic.com/onebox/media/sports/logos/jSgw5z0EPOLzdUi-Aomq7Q_48x48.png") no-repeat left center;
}

#group-c tr:nth-of-type(3) .name-team,
.Denmark {
    background: url("https://ssl.gstatic.com/onebox/media/sports/logos/LaOvu-pyRqRso6uzff55XA_48x48.png") no-repeat left center;
}

#group-c tr:nth-of-type(4) .name-team,
.France {
    background: url("https://ssl.gstatic.com/onebox/media/sports/logos/z3JEQB3coEAGLCJBEUzQ2A_48x48.png") no-repeat left center;
}

#group-c tr:nth-of-type(5) .name-team,
.Peru {
    background: url("https://ssl.gstatic.com/onebox/media/sports/logos/U08wYdQptUaWuweG82L3dw_48x48.png") no-repeat left center;
}

.post-body #group-c tr:nth-of-type(1n+1) .name-team,
.Australia,
.Denmark,
.France,
.Peru {
    background-size: 24px;
}

/* ----------------------------Group D background------------------------- */

#group-d tr:nth-of-type(2) .name-team,
.Argentina {
    background: url("https://ssl.gstatic.com/onebox/media/sports/logos/1xBWyjjkA6vEWopPK3lIPA_48x48.png") no-repeat left center;
}

#group-d tr:nth-of-type(3) .name-team,
.Croatia {
    background: url("https://ssl.gstatic.com/onebox/media/sports/logos/9toerdOg8xW4CRhDaZxsyw_48x48.png") no-repeat left center;
}

#group-d tr:nth-of-type(4) .name-team,
.Iceland {
    background: url("https://ssl.gstatic.com/onebox/media/sports/logos/QSlAlD9v6Fm_drC_2z1u8A_48x48.png") no-repeat left center;
}

#group-d tr:nth-of-type(5) .name-team,
.Nigeria {
    background: url("https://ssl.gstatic.com/onebox/media/sports/logos/2vpR8clrEZdpNjaiHKpg7A_48x48.png") no-repeat left center;
}

.post-body #group-d tr:nth-of-type(1n+1) .name-team,
.Argentina,
.Croatia,
.Iceland,
.Nigeria,
.Argentina {
    background-size: 24px;
}

/* ----------------------------Group E background------------------------- */

#group-e tr:nth-of-type(2) .name-team,
.Brazil {
    background: url("https://ssl.gstatic.com/onebox/media/sports/logos/zKLzoJVYz0bb6oAnPUdwWQ_48x48.png") no-repeat left center;
}

#group-e tr:nth-of-type(3) .name-team,
.Costa-Rica {
    background: url("https://ssl.gstatic.com/onebox/media/sports/logos/ixZiM5pj2IvvYc15k-zfeQ_48x48.png") no-repeat left center;
}

#group-e tr:nth-of-type(4) .name-team,
.Serbia {
    background: url("https://ssl.gstatic.com/onebox/media/sports/logos/xyh1vmZ-xJH2iJCKjqS1Ow_48x48.png") no-repeat left center;
}

#group-e tr:nth-of-type(5) .name-team,
.Switzerland {
    background: url("https://ssl.gstatic.com/onebox/media/sports/logos/1hy9ek4dOIffYULM6k1fqg_48x48.png") no-repeat left center;
}

.post-body #group-e tr:nth-of-type(1n+1) .name-team,
.Brazil,
.Costa-Rica,
.Serbia,
.Switzerland {
    background-size: 24px;
}

/* ----------------------------Group F background------------------------- */

#group-f tr:nth-of-type(2) .name-team,
.Germany {
    background: url("https://ssl.gstatic.com/onebox/media/sports/logos/h1FhPLmDg9AHXzhygqvVPg_48x48.png") no-repeat left center;
}

#group-f tr:nth-of-type(3) .name-team,
.South-Korea {
    background: url("https://ssl.gstatic.com/onebox/media/sports/logos/Uu5pwNmMHGd5bCooKrS3Lw_48x48.png") no-repeat left center;
}

#group-f tr:nth-of-type(4) .name-team,
.Mexico {
    background: url("https://ssl.gstatic.com/onebox/media/sports/logos/yJF9xqmUGenD8108FJbg9A_48x48.png") no-repeat left center;
}

#group-f tr:nth-of-type(5) .name-team,
.Sweden {
    background: url("https://ssl.gstatic.com/onebox/media/sports/logos/OkFlRvRsKMWb8Hk20L9Trw_48x48.png") no-repeat left center;
}

.post-body #group-f tr:nth-of-type(1n+1) .name-team,
.Germany,
.South-Korea,
.Mexico,
.Sweden {
    background-size: 24px;
}

/* ----------------------------Group G background------------------------- */

#group-g tr:nth-of-type(2) .name-team,
.Belgium {
    background: url("https://ssl.gstatic.com/onebox/media/sports/logos/6SF7yEoB60bU5knw-M7R5Q_48x48.png") no-repeat left center;
}

#group-g tr:nth-of-type(3) .name-team,
.England {
    background: url("https://ssl.gstatic.com/onebox/media/sports/logos/DTqIL8Ba3KIuxGkpXw5ayA_48x48.png") no-repeat left center;
}

#group-g tr:nth-of-type(4) .name-team,
.Panama {
    background: url("https://ssl.gstatic.com/onebox/media/sports/logos/JIn8OwxL6KFFiYrKGnL2RQ_48x48.png") no-repeat left center;
}

#group-g tr:nth-of-type(5) .name-team,
.Tunisia {
    background: url("https://ssl.gstatic.com/onebox/media/sports/logos/Xs33c9XVUJBX0IkeFn_bIw_48x48.png") no-repeat left center;
}

.post-body #group-g tr:nth-of-type(1n+1) .name-team,
.Belgium,
.England,
.Panama,
.Tunisia {
    background-size: 24px;
}

/* ----------------------------Group H background------------------------- */

#group-h tr:nth-of-type(2) .name-team,
.Colombia {
    background: url("https://ssl.gstatic.com/onebox/media/sports/logos/tXHnA_tDylayacdjWQCJvw_48x48.png") no-repeat left center;
}

#group-h tr:nth-of-type(3) .name-team,
.Japan {
    background: url("https://ssl.gstatic.com/onebox/media/sports/logos/by4OltvtZz7taxuQtkiP3A_48x48.png") no-repeat left center;
}

#group-h tr:nth-of-type(4) .name-team,
.Poland {
    background: url("https://ssl.gstatic.com/onebox/media/sports/logos/yTS_Piy3M1wUBnqU0n5aAw_48x48.png") no-repeat left center;
}

#group-h tr:nth-of-type(5) .name-team,
.Senegal {
    background: url("https://ssl.gstatic.com/onebox/media/sports/logos/zw3ac5sIbH4DS6zP5auOkQ_48x48.png") no-repeat left center;
}

.post-body #group-h tr:nth-of-type(1n+1) .name-team,
.Colombia,
.Japan,
.Poland,
.Senegal {
    background-size: 24px;
}

/*-------------------------WC 2018 time and date tables--------------------*/

.date-time {
    position: relative;
    z-index: 55;
    color: black;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
    border-top: 1px solid #E0E0E0;

}

th.game-desc {
    color: #a8a8a8;
    font-size: 12px;
    padding-bottom: 15px;
    padding-left: 12px;
    width: 40%;
    text-align: left;
    padding-top: 15px;
}

.timegame {
    border-left: 1px solid #F2F2F2;
    border-right: 1px solid #F2F2F2;
    width: 20%;
    white-space: nowrap;
}

.date-time .name-team {
    color: #212121;
    display: block;
    text-align: left;
    margin-left: 10px;
    padding: 9px 2px 9px 32px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.date-time tr:last-child td {
    margin-bottom: 18px;
}

.clock-info {
    display: block;
    font-size: 12px;
    font-style: italic;
    padding-top: 20px;
    text-align: right;
    border-top: 1px solid #E0E0E0;
    padding-right: 10px;
}

.date-time:hover {
    cursor: pointer;
}

.table-container {
    position: relative;
    overflow: hidden;
}

.table-container:hover .table-bg {
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.table-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

/*----------------Matches table background---------------*/

.Kazan-ST,
.Zenit-ST,
.Fisht-ST,
.Volgograd-ST,
.NN-ST,
.Rostov-ST,
.Luzhniki-ST,
.Tsentralnyi-ST,
.Kaliningrad-ST,
.Otkritie-ST,
.Mordovia-ST,
.Samara-ST {
    opacity: 0;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}


.Kazan-ST {
    background: url("https://maxi-boxi.github.io/World_Cup_2018/img/Kazan-ST.png") no-repeat center center;
}

.Luzhniki-ST {
    background: url("https://maxi-boxi.github.io/World_Cup_2018/img/Luzhniki-ST.png") no-repeat center center;
}

.Zenit-ST {
    background: url("https://maxi-boxi.github.io/World_Cup_2018/img/Zenit-ST.png") no-repeat center center;
}

.Fisht-ST {
    background: url("https://maxi-boxi.github.io/World_Cup_2018/img/Fisht-ST.png") no-repeat center center;
}

.Volgograd-ST {
    background: url("https://maxi-boxi.github.io/World_Cup_2018/img/Volgograd-ST.png") no-repeat center center;
}

.NN-ST {
    background: url("https://maxi-boxi.github.io/World_Cup_2018/img/NN-ST.png") no-repeat center center;
}

.Rostov-ST {
    background: url("https://maxi-boxi.github.io/World_Cup_2018/img/Rostov-ST.png") no-repeat center center;
}

.Samara-ST {
    background: url("https://maxi-boxi.github.io/World_Cup_2018/img/Samara-ST.png") no-repeat center center;
}

.Mordovia-ST {
    background: url("https://maxi-boxi.github.io/World_Cup_2018/img/Mordovia-ST.png") no-repeat center center;
}

.Otkritie-ST {
    background: url("https://maxi-boxi.github.io/World_Cup_2018/img/Otkritie-ST.png") no-repeat center center;
}

.Kaliningrad-ST {
    background: url("https://maxi-boxi.github.io/World_Cup_2018/img/Kaliningrad-ST.png") no-repeat center center;
}

.Tsentralnyi-ST {
    background: url("https://maxi-boxi.github.io/World_Cup_2018/img/Tsentralnyi-St.png") no-repeat center center;
}

/*-------------------------Stadium Names-------------------------*/

.Stadium-Name {
    position: absolute;
    z-index: 100;
   /* bottom: -16px;*/
    bottom: -16px;
    left: 55%;
    font-style: italic;
    font-size: 13px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    padding: 0 10px;
    color: #f1f5ff;
    letter-spacing: 1px;
    text-shadow: 0 0 0 #64637c, 0 0 1px #000000, 0 0 1px #73767a , 0 1px 1px #64637c, 0 0 2px #000000, 0 0 1px #73767a;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    opacity: 0.9;
}

.table-container:hover .Stadium-Name {
    bottom: 5px;
}

.St-Name-Line {
    position: absolute;
    font-style: italic;
    font-size: 13px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #5e7c92;
    letter-spacing: 1px;
    padding: 0 10px;
    z-index: 99;
    bottom: 5px;
    left: 100%;
    height: 17px;
    -webkit-border-radius:  20px;
    -moz-border-radius: 20px ;
    border-radius: 20px ;
    background: #5e7c92;
    opacity: 0.5;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.table-container:hover .St-Name-Line {
    left: 55%;
}

@media (max-width: 330px) {

    .Stadium-Name {
        left: 53%;
    }

    .table-container:hover .St-Name-Line {
        left: 53%;
    }
}