* {
    margin: 0;
    padding: 0;
}

body {
    background: #eee;
    color: #333;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    min-width: 320px;
}

main {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1000px;
}

.header {
    position: relative;
    overflow: hidden;
    min-height: 150px;
    border-top: solid 3px #ccc;
    border-bottom: solid 3px #ccc;
    background-color: #0f4583;
    margin-bottom: 30px;
}

.header-back {
    position: absolute;
    left: 0;
    top: 0;
}

.logo-2018 {
    position: absolute;
    width: 100%;
    right: -63%;
    top: 25px;
}

#logo-1 {
    display: none;
}

.teremok {
    position: absolute;
    width: 100%;
    right: -10%;
    top: 0;
}

.blog-post {
    background: #fff;
    position: relative;
    padding: 30px;
    margin: 10px;
    border: solid 3px #ccc;
    word-wrap: break-word;
}

.post-body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
}

@media (max-width: 790px) {
    .post-body {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
}

.post-body2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);

}

@media (max-width: 850px) {
    .post-body2 {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .table-container:nth-of-type(2) .timegame,
    .table-container:nth-of-type(4) .timegame,
    .table-container:nth-of-type(6) .timegame {
        border-right: 0;
    }

    .header-back,
    .teremok {
        display: none;
    }

    .logo-2018 {
        position: relative;
        margin-top: 8px;
        right: unset;
        top: unset;
        text-align: center;
    }

    #logo-2 {
        display: none;
    }

    #logo-1 {
        display: inline;
    }

    .header {
        border: none;
        background-color: unset;
        min-height: 120px;
        margin-bottom: 0;
    }
}

@media (max-width: 660px) {
    .post-body2 {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .table-container .timegame {
        border-right: 0;
    }
}

@media (min-width: 851px) {
    .table-container:nth-of-type(3) .timegame,
    .table-container:nth-of-type(6) .timegame {
        border-right: 0;
    }
}

/*-----------------------------Football Tables-------------------------*/

.group {
    min-width: 230px;
}

.football {
    background-color: #fff;
    width: 100%;
    position: relative;
    border-collapse: collapse;
    text-align: center;
    margin: 12px 0;
    table-layout: fixed;
}

.football th {
    font-weight: normal;
    color: #838383;
    border-bottom: 1px solid #E5E5E5;
    padding: 7px 0;
    width: 25px;
    min-width: 25px;
}

th.gruppa {
    position: relative;
    color: #212121;
    font-size: 12px;
    text-align: left;
    padding-left: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 60%;
}

@media (max-width: 360px) {
    .football .gruppa:after {
        position: absolute;
        top: 8px;
        left: 0;
        right: 0;
        bottom: 0;
        padding-left: 8px;
        background: #fff;
        font-size: 14px;
        content: 'A';
    }

    .football .name-team:after {
        position: absolute;
        top: 10px;
        left: 23px;
        right: 0;
        bottom: 0;
        padding-left: 8px;
        background-color: #fff;
        font-size: 14px;
        content: '';
    }

    #group-b .football .gruppa:after {
        content: 'B';
    }

    #group-c .football .gruppa:after {
        content: 'C';
    }

    #group-d .football .gruppa:after {
        content: 'D';
    }

    #group-e .football .gruppa:after {
        content: 'E';
    }

    #group-f .football .gruppa:after {
        content: 'F';
    }

    #group-g .football .gruppa:after {
        content: 'G';
    }

    #group-h .football .gruppa:after {
        content: 'H';
    }
}

.football td {
    color: #212121;
    padding: 9px 2px;
    border-bottom: 1px solid #F2F2F2;
}

.football tr:last-child td {
    border-bottom: none;
}

.football .name-team {
    position: relative;
    text-align: left;
    padding-left: 32px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 51;
}

.football tr.team-cup:hover, .football tr.team-cup:hover .name-team:after {
    background-color: #FAFAFA;
    cursor: pointer;
}

td.name-team {
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: left center;
}

.center {
    position: relative;
    width: 100%;
    text-align: center;
}

h1 {
    margin-top: 25px;
    margin-bottom: 20px;
    color: #979797;
    font-size: 15px;
}

h2.matches {
    color: #5b5b5b;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
    display: inline-block;
}

.summar {
    position: relative;
    z-index: 3;
    text-align: left;
    outline: none;
    color: #6c6c6c;
    font-size: 13px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #F5F5F5;
    text-indent: 10px;
    border-top: 1px solid #E0E0E0;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    cursor: pointer;
}

.upper {
    position: absolute;
    z-index: 10;
    color: #b5b5b5;
    font-size: 19px;
    top: 7px;
    right: 25px;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.upper:hover {
    color: #333333;
}

.summar:hover .upper {
    opacity: 1;
}

.summar:hover {
    background-color: #F9F9F9;
}

summary {
    display: none;
}


/* ----------------------------Group A background------------------------- */

.egypt {
    background-image: url("https://ssl.gstatic.com/onebox/media/sports/logos/lYah1Uqw37XdicC6C4HNqg_48x48.png");
}

.Russia {
    background-image: url("https://ssl.gstatic.com/onebox/media/sports/logos/5Y6kOqiOIv2C1sP9C_BWtA_48x48.png");
}

.saudi-arabia {
    background-image: url("https://ssl.gstatic.com/onebox/media/sports/logos/QoAJxO46fHid3_T-7nRZ0Q_48x48.png");
}

.Uruguay {
    background-image: url("https://ssl.gstatic.com/onebox/media/sports/logos/KnSUdQWiGRoy89q4x85IgA_48x48.png");
}

/* ----------------------------Group B background------------------------- */

.Iran {
    background-image: url("https://ssl.gstatic.com/onebox/media/sports/logos/1oq8Fy7ETpBpZNaCA22ArQ_48x48.png");
}

.Morocco {
    background-image: url("https://ssl.gstatic.com/onebox/media/sports/logos/I3gt2Ew39ux3GGdZ-4JE3g_48x48.png");
}

.Portugal {
    background-image: url("https://ssl.gstatic.com/onebox/media/sports/logos/HJ3_2c4w791nZJj7n-Lj3Q_48x48.png");
}

.Spain {
    background-image: url("https://ssl.gstatic.com/onebox/media/sports/logos/5hLkf7KFHhmpaiOJQv8LmA_48x48.png");
}

/* ----------------------------Group C background------------------------- */

.Australia {
    background-image: url("https://ssl.gstatic.com/onebox/media/sports/logos/jSgw5z0EPOLzdUi-Aomq7Q_48x48.png");
}

.Denmark {
    background-image: url("https://ssl.gstatic.com/onebox/media/sports/logos/LaOvu-pyRqRso6uzff55XA_48x48.png");
}

.France {
    background-image: url("https://ssl.gstatic.com/onebox/media/sports/logos/z3JEQB3coEAGLCJBEUzQ2A_48x48.png");
}

.Peru {
    background-image: url("https://ssl.gstatic.com/onebox/media/sports/logos/U08wYdQptUaWuweG82L3dw_48x48.png");
}

/* ----------------------------Group D background------------------------- */

.Argentina {
    background-image: url("https://ssl.gstatic.com/onebox/media/sports/logos/1xBWyjjkA6vEWopPK3lIPA_48x48.png");
}

.Croatia {
    background-image: url("https://ssl.gstatic.com/onebox/media/sports/logos/9toerdOg8xW4CRhDaZxsyw_48x48.png");
}

.Iceland {
    background-image: url("https://ssl.gstatic.com/onebox/media/sports/logos/QSlAlD9v6Fm_drC_2z1u8A_48x48.png");
}

.Nigeria {
    background-image: url("https://ssl.gstatic.com/onebox/media/sports/logos/2vpR8clrEZdpNjaiHKpg7A_48x48.png");
}

/* ----------------------------Group E background------------------------- */

.Brazil {
    background-image: url("https://ssl.gstatic.com/onebox/media/sports/logos/zKLzoJVYz0bb6oAnPUdwWQ_48x48.png");
}

.Costa-Rica {
    background-image: url("https://ssl.gstatic.com/onebox/media/sports/logos/ixZiM5pj2IvvYc15k-zfeQ_48x48.png");
}

.Serbia {
    background-image: url("https://ssl.gstatic.com/onebox/media/sports/logos/xyh1vmZ-xJH2iJCKjqS1Ow_48x48.png");
}

.Switzerland {
    background-image: url("https://ssl.gstatic.com/onebox/media/sports/logos/1hy9ek4dOIffYULM6k1fqg_48x48.png");
}

/* ----------------------------Group F background------------------------- */

.Germany {
    background-image: url("https://ssl.gstatic.com/onebox/media/sports/logos/h1FhPLmDg9AHXzhygqvVPg_48x48.png");
}

.South-Korea {
    background-image: url("https://ssl.gstatic.com/onebox/media/sports/logos/Uu5pwNmMHGd5bCooKrS3Lw_48x48.png");
}

.Mexico {
    background-image: url("https://ssl.gstatic.com/onebox/media/sports/logos/yJF9xqmUGenD8108FJbg9A_48x48.png");
}

.Sweden {
    background-image: url("https://ssl.gstatic.com/onebox/media/sports/logos/OkFlRvRsKMWb8Hk20L9Trw_48x48.png");
}

/* ----------------------------Group G background------------------------- */

.Belgium {
    background-image: url("https://ssl.gstatic.com/onebox/media/sports/logos/6SF7yEoB60bU5knw-M7R5Q_48x48.png");
}

.England {
    background-image: url("https://ssl.gstatic.com/onebox/media/sports/logos/DTqIL8Ba3KIuxGkpXw5ayA_48x48.png");
}

.Panama {
    background-image: url("https://ssl.gstatic.com/onebox/media/sports/logos/JIn8OwxL6KFFiYrKGnL2RQ_48x48.png");
}

.Tunisia {
    background-image: url("https://ssl.gstatic.com/onebox/media/sports/logos/Xs33c9XVUJBX0IkeFn_bIw_48x48.png");
}

/* ----------------------------Group H background------------------------- */

.Colombia {
    background-image: url("https://ssl.gstatic.com/onebox/media/sports/logos/tXHnA_tDylayacdjWQCJvw_48x48.png");
}

.Japan {
    background-image: url("https://ssl.gstatic.com/onebox/media/sports/logos/by4OltvtZz7taxuQtkiP3A_48x48.png");
}

.Poland {
    background-image: url("https://ssl.gstatic.com/onebox/media/sports/logos/yTS_Piy3M1wUBnqU0n5aAw_48x48.png");
}

.Senegal {
    background-image: url("https://ssl.gstatic.com/onebox/media/sports/logos/zw3ac5sIbH4DS6zP5auOkQ_48x48.png");
}

/*-------------------------WC 2018 time and date tables--------------------*/

.date-time {
    position: relative;
    z-index: 55;
    color: black;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
    border-top: 1px solid #E0E0E0;

}

th.game-desc {
    color: #a8a8a8;
    font-size: 12px;
    padding-bottom: 15px;
    padding-left: 12px;
    width: 40%;
    text-align: left;
    padding-top: 15px;
}

.timegame {
    border-left: 1px solid #F2F2F2;
    border-right: 1px solid #F2F2F2;
    width: 20%;
    white-space: nowrap;
}

.date-time .name-team {
    position: relative;
    color: #212121;
    display: block;
    text-align: left;
    margin-left: 10px;
    padding: 9px 2px 9px 32px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.date-time tr:last-child td {
    margin-bottom: 18px;
}

.clock-info {
    display: block;
    font-size: 12px;
    font-style: italic;
    padding-top: 20px;
    text-align: right;
    border-top: 1px solid #E0E0E0;
    padding-right: 10px;
}

.date-time:hover {
    cursor: pointer;
}

.table-container {
    position: relative;
    overflow: hidden;
}

.table-container:hover .table-bg {
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.table-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

/*----------------Matches table background---------------*/

.Kazan-ST,
.Zenit-ST,
.Fisht-ST,
.Volgograd-ST,
.NN-ST,
.Rostov-ST,
.Luzhniki-ST,
.Tsentralnyi-ST,
.Kaliningrad-ST,
.Otkritie-ST,
.Mordovia-ST,
.Samara-ST {
    opacity: 0;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    background: no-repeat center;
}

.Kazan-ST {
    background-image: url("https://maxi-boxi.github.io/World_Cup_2018/img/Kazan-ST.png");
}

.Luzhniki-ST {
    background-image: url("https://maxi-boxi.github.io/World_Cup_2018/img/Luzhniki-ST.png");
}

.Zenit-ST {
    background-image: url("https://maxi-boxi.github.io/World_Cup_2018/img/Zenit-ST.png");
}

.Fisht-ST {
    background-image: url("https://maxi-boxi.github.io/World_Cup_2018/img/Fisht-ST.png");
}

.Volgograd-ST {
    background-image: url("https://maxi-boxi.github.io/World_Cup_2018/img/Volgograd-ST.png");
}

.NN-ST {
    background-image: url("https://maxi-boxi.github.io/World_Cup_2018/img/NN-ST.png");
}

.Rostov-ST {
    background-image: url("https://maxi-boxi.github.io/World_Cup_2018/img/Rostov-ST.png");
}

.Samara-ST {
    background-image: url("https://maxi-boxi.github.io/World_Cup_2018/img/Samara-ST.png");
}

.Mordovia-ST {
    background-image: url("https://maxi-boxi.github.io/World_Cup_2018/img/Mordovia-ST.png");
}

.Otkritie-ST {
    background-image: url("https://maxi-boxi.github.io/World_Cup_2018/img/Otkritie-ST.png");
}

.Kaliningrad-ST {
    background-image: url("https://maxi-boxi.github.io/World_Cup_2018/img/Kaliningrad-ST.png");
}

.Tsentralnyi-ST {
    background-image: url("https://maxi-boxi.github.io/World_Cup_2018/img/Tsentralnyi-St.png");
}

/*-------------------------Stadium Names-------------------------*/

.St-Name-Line,
.Stadium-Name {
    position: absolute;
    font-style: italic;
    font-size: 13px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0 10px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.Stadium-Name {
    z-index: 100;
    bottom: -17px;
    left: 55%;
    color: #f1f5ff;
    text-shadow: 0 0 0 #64637c, 0 0 1px #000000, 0 0 1px #73767a, 0 1px 1px #64637c, 0 0 2px #000000, 0 0 1px #73767a;
    opacity: 0.9;
}

.table-container:hover .Stadium-Name {
    bottom: 5px;
}

.St-Name-Line {
    color: #5e7c92;
    z-index: 99;
    bottom: 5px;
    left: 100%;
    height: 17px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #5e7c92;
    opacity: 0.5;
}

.table-container:hover .St-Name-Line {
    left: 55%;
}

@media (max-width: 330px) {

    .Stadium-Name {
        left: 53%;
    }

    .table-container:hover .St-Name-Line {
        left: 53%;
    }
}

/*--------------plus and minus----------------*/

#plus,
#minus {
    color: #979797;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
}

#plus {
    margin-right: 5px;
}

#minus {
    margin-left: 5px;
}

#plus:hover,
#minus:hover {
    color: #5b5b5b;
}

/*----------Score----------*/

.score {
    position: absolute;
    right: 11%;
}

.post-body2 .loose {
    color: #838383;
}

/*----------Place number----------*/

.place_number {
    position: absolute;
    left: -16px;
    bottom: 8px;
    opacity: 0;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

tr.team-cup:nth-of-type(4) .place_number {
    bottom: 44px;
}

tr.team-cup:nth-of-type(3) .place_number {
    bottom: 80px;
}

tr.team-cup:nth-of-type(2) .place_number {
    top: 42px;
}

tr.team-cup:hover .place_number {
    opacity: 1;
}

/*----------Tabs----------*/

#tab_1 {
    padding-right: 15px;
    border-right: 1px solid #ccc;
}

#tab_2 {
    padding-left: 15px;
    border-left: 1px solid #ccc;
}

#tab_1:hover,
#tab_2:hover {
    text-decoration: underline;
    cursor: pointer;
}

.underline {
    text-decoration: underline;
    color: #5b5b5b;
}

/*-------------------------Play Off--------------------*/

#playoff_grid {
    position: static;
    margin-top: 50px;
    margin-bottom: 30px;
    height: 960px;
    overflow: hidden;
}

#playoff8_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    position: absolute;
    /*border: 1px solid red;*/
    max-width: 300px;
}

#playoff4_container,
#playoff2_container,
#playoff1_container {
    position: relative;
    top: 0;
    display: grid;
    justify-items: end;
    grid-template-columns: 1fr;
    width: 100%;
    min-width: 241px;
}

#playoff4_container {
    grid-gap: 153px;
    /*  border: 1px solid blue;*/
    max-width: 570px;
    margin-top: 55px;
}

#playoff2_container {
    grid-gap: 393px;
    /*   border: 1px solid green;*/
    max-width: 745px;
    margin-top: 174px;
    top: -867px;
}

#playoff1_container {
    /*  border: 1px solid deeppink;*/
    height: 919px;
    align-items: center;
    min-width: 245px;
    top: -1610px;
    right: 2px;
}

#playoff8_container .play_off_container:nth-child(2),
#playoff8_container .play_off_container:nth-child(4),
#playoff8_container .play_off_container:nth-child(6) {
    margin-bottom: 25px;
}

#playoff2_container .play_off_container {
    margin-right: 45px;
}

#playoff4_container .play_off_container {
    margin-right: 110px;
}

.play_off_container {
    position: relative;
    max-width: 190px;
    min-width: 80px;
}

.play_off {
    position: relative;
    background: #fff;
    z-index: 55;
    color: black;
    width: 100%;
    max-width: 190px;
    text-align: center;
    table-layout: fixed;
    border: 1px solid #E0E0E0;
    border-radius: 13px;
    box-shadow: -1px 1px 6px -1px #ccc;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.play_off_number{
    position: absolute;
    text-align: center;
    top: -30px;
    width: 100%;
    color: #d7d7d7;
    font-weight: 500;
    font-size: 17px;
    z-index: 3;
}


#playoff1_container .play_off_container:nth-child(1) .play_off_number{
    top: 38px;
    left: -60px;
    text-align: unset;
}

.play_off:hover, 
 #playoff_grid .play_off:hover .name-team:after {
    background-color: #FAFAFA;
    cursor: pointer;
}

.play_off th.game-desc,
.play_off .name-team {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.play_off th.game-desc {
    color: #a8a8a8;
    font-size: 12px;
    padding-bottom: 5px;
    padding-left: 12px;
    width: 100%;
    padding-top: 5px;
}

.play_off .name-team {
    min-width: 81%;
    position: relative;
    color: #212121;
    display: block;
    margin-left: 10px;
    padding: 3px 2px 3px 32px;
}

#playoff_grid .play_off td.play_off_score {
    padding: 3px 0 7px 10px;
    position: relative;
    z-index: 3;
}

.border_14,
.border_15,
.border_1_8 {
    position: absolute;
    border-top: 3px solid #e2e2e2;
    border-bottom: 3px solid #E2E2E2;
    border-right: 3px solid #E2E2E2;
    background: #fff;
}

.border_15 {
    z-index: 2;
    width: 370px;
    height: 480px;
    right: 50%;
    top: -228%;
}

.border_14 {
    z-index: 4;
    width: 750px;
    height: 240px;
    right: 110%;
    top: -87%;
}

.border_1_8 {
    z-index: 5;
    width: 750px;
    height: 108px;
    right: 110%;
    top: -15%;
}

@media (max-width: 831px) {
    #playoff1_container .play_off {
        max-width: 150px;
    }
}

@media (max-width: 656px) {
    #playoff2_container .play_off {
        max-width: 150px;
    }
}

@media (max-width: 622px) {
    #playoff4_container .play_off {
        max-width: 150px;
    }
}

@media (max-width: 574px) {
    #playoff8_container .play_off {
        max-width: 150px;
    }
}

@media (max-width: 534px) {
    #playoff2_container .play_off,
    #playoff4_container .play_off,
    #playoff1_container .play_off {
        max-width: 100px;
    }

    #playoff2_container .play_off_container {
        margin-right: 30px;
    }

    #playoff2_container .name-team,
    #playoff4_container .name-team,
    #playoff1_container .name-team {
        min-width: 60%;
    }
    .play_off_number{
        font-size: 15px;
    }
}

@media (max-width: 475px) {
    #playoff8_container .play_off {
        max-width: 100px;
    }

    #playoff8_container .name-team {
        min-width: 60%;
    }
}

@media (max-width: 431px) {
    #playoff2_container .play_off,
    #playoff4_container .play_off,
    #playoff1_container .play_off {
        max-width: 70px;
    }

    #playoff2_container .play_off_container {
        margin-right: 10px;
    }

    #playoff4_container .play_off_container {
        margin-right: 70px;
    }

    #playoff4_container .name-team:after,
    #playoff2_container .name-team:after,
    #playoff1_container .name-team:after {
        position: absolute;
        top: 0;
        left: 30px;
        right: -4px;
        bottom: 0;
        padding-left: 1px;
        background-color: #fff;
        font-size: 14px;
        content: '';
        z-index: 3;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

    #playoff4_container .play_off td.play_off_score,
    #playoff2_container .play_off td.play_off_score,
    #playoff1_container .play_off td.play_off_score {
        padding-left: 2px;
    }

     #playoff4_container .play_off_number,
     #playoff2_container .play_off_number {
         left: -7px;
    }
}

@media (max-width: 366px) {
    #playoff8_container .play_off {
        max-width: 70px;
    }

    #playoff8_container .name-team:after {
        position: absolute;
        top: 0;
        left: 30px;
        right: -4px;
        bottom: 0;
        padding-left: 1px;
        background-color: #fff;
        font-size: 14px;
        content: '';
        z-index: 3;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

    #playoff8_container .play_off td.play_off_score {
        padding-left: 2px;
    }

    #playoff8_container .play_off_number {
         left: -7px;
    }
}

#playoff_grid .loose {
    color: #838383;
}


/*---------------------Upper---------------------*/

#Go_Top {
position: fixed;
right: 1%;
bottom: -70px;
z-index: 999;
transition: bottom .4s;
}

#Go_Bottom {
position: fixed;
right: 5%;
top: -70px;
z-index: 999;
transition: top .4s;
}

.up {
bottom: 15px !important;
}

.down {
top: 30px !important;
}

#Go_Top a, #Go_Bottom a {
display: block;
text-align: center;
-webkit-transition: .2s;
-moz-transition: .2s;
transition: .2s;
padding: 26px;
outline: none;
opacity: 0.7;
}

#Go_Top a {
background: url("https://maxi-boxi.github.io/World_Cup_2018/img/upper-1.gif") no-repeat center;    
background-size: 50px;
}

#Go_Top a:hover {
background: url("https://maxi-boxi.github.io/World_Cup_2018/img/upper-2.gif") no-repeat center;    
background-size: 51px;
}

