* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

h1 {
    position: absolute;
    color: #fff;
    font-size: 5vmin;
    z-index: 40;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.back1,
.back,
.back2,
.back3,
.back4,
.back5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    background: rgb(63, 93, 166);
    background: -moz-linear-gradient(-45deg, rgba(63, 93, 166, 1) 0%, rgba(28, 50, 107, 1) 26%, rgba(1, 12, 66, 1) 52%, rgba(1, 2, 58, 1) 76%, rgba(1, 2, 10, 1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(63, 93, 166, 1) 0%, rgba(28, 50, 107, 1) 26%, rgba(1, 12, 66, 1) 52%, rgba(1, 2, 58, 1) 76%, rgba(1, 2, 10, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(63, 93, 166, 1) 0%, rgba(28, 50, 107, 1) 26%, rgba(1, 12, 66, 1) 52%, rgba(1, 2, 58, 1) 76%, rgba(1, 2, 10, 1) 100%);
    background: linear-gradient(135deg, rgba(63, 93, 166, 1) 0%, rgba(28, 50, 107, 1) 26%, rgba(1, 12, 66, 1) 52%, rgba(1, 2, 58, 1) 76%, rgba(1, 2, 10, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3f5da6', endColorstr='#01020a', GradientType=1);
}

.back1::before {
    background: #282928;
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    -webkit-transition: opacity 2s linear;
    -o-transition: opacity 2s linear;
    transition: opacity 2s linear;
    opacity: 1;
}

.back1.opa::before {
    opacity: 0;
}

.back,
.back4,
.back2,
.back3,
.back5 {
    background: transparent;
    -webkit-transition: transform 2s ease-in-out, left 1.5s ease-in-out, top 1.5s ease-in-out;
    -moz-transition: transform 2s ease-in-out, left 1.5s ease-in-out, top 1.5s ease-in-out;
    -o-transition: transform 2s ease-in-out, left 1.5s ease-in-out, top 1.5s ease-in-out;
    transition: transform 2s ease-in-out, left 1.5s ease-in-out, top 1.5s ease-in-out;
}

.left {
    left: -40vmin;
}

.top {
    top: -40vmin;
}

.circle,
.triangle,
.triangle-container,
.line1,
.line2,
.line3,
.line4,
.lines-container,
.name,
.album-name1,
.circle-container,
.box-container,
.box1,
.audio,
.audio-container {
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 100%;
}

.triangle {
    -webkit-transform: rotateZ(42deg);
    -ms-transform: rotate(42deg);
    transform: rotateZ(42deg);
    right: -27.5vmin;
    top: 9vmin;
    max-width: 45vmin;
    max-height: 50vmin;
    z-index: 1;
    background: #faf7f9;
    background: -moz-linear-gradient(top, #faf7f9 0%, #d254a0 26%, #5b3292 52%, #3c2f8a 68%, #1c1b55 84%, #07093a 92%, #01020a 100%);
    background: -webkit-linear-gradient(top, #faf7f9 0%, #d254a0 26%, #5b3292 52%, #3c2f8a 68%, #1c1b55 84%, #07093a 92%, #01020a 100%);
    background: -o-linear-gradient(top, #faf7f9 0%, #d254a0 26%, #5b3292 52%, #3c2f8a 68%, #1c1b55 84%, #07093a 92%, #01020a 100%);
    background: linear-gradient(to bottom, #faf7f9 0%, #d254a0 26%, #5b3292 52%, #3c2f8a 68%, #1c1b55 84%, #07093a 92%, #01020a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faf7f9', endColorstr='#01020a', GradientType=0);
}

.triangle::before {
    background: #fff;
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    -webkit-transition: opacity 2s linear;
    -o-transition: opacity 2s linear;
    transition: opacity 2s linear;
    opacity: 1;
}

.triangle.opa::before {
    opacity: 0;
}

.triangle-container {
    overflow: hidden;
    background: transparent;
    max-width: 55vmin;
    max-height: 68vmin;
    left: 16vmin;
    top: -1vmin;
    -webkit-transform: rotateZ(180deg) scaleX(1.28) scaleY(0.85);
    -ms-transform: rotate(180deg) scaleX(1.28) scaleY(0.85);
    transform: rotateZ(180deg) scaleX(1.28) scaleY(0.85);
}

.line1,
.line2,
.line3,
.line4 {
    max-width: 20vmin;
    max-height: 0.7vmin;
    -webkit-transform: rotateZ(170deg);
    -ms-transform: rotate(170deg);
    transform: rotateZ(170deg);
    top: 45vmin;
    left: -1.1vmin;
    background: #f6f0f7;
    background: -moz-linear-gradient(left, #f6f0f7 0%, #c74e9b 17%, #783787 34%, #783787 51%, #783787 68%, #c74e9b 84%, #f6f0f7 100%);
    background: -webkit-linear-gradient(left, #f6f0f7 0%, #c74e9b 17%, #783787 34%, #783787 51%, #783787 68%, #c74e9b 84%, #f6f0f7 100%);
    background: -o-linear-gradient(left, #f6f0f7 0%, #c74e9b 17%, #783787 34%, #783787 51%, #783787 68%, #c74e9b 84%, #f6f0f7 100%);
    background: linear-gradient(to right, #f6f0f7 0%, #c74e9b 17%, #783787 34%, #783787 51%, #783787 68%, #c74e9b 84%, #f6f0f7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f0f7', endColorstr='#f6f0f7', GradientType=1);
    padding: 0 1vmin;
    display: none;
}

.line2 {
    top: 46.6vmin;
}

.line3 {
    top: 48.2vmin;
}

.line4 {
    top: 49.8vmin;
}

.lines-container {
    overflow: hidden;
    max-width: 100vmin;
    max-height: 100vmin;
    z-index: 0;
    background: #00001e;
    background: -moz-linear-gradient(top, #00001e 0%, #01023a 24%, #031a4e 48%, #253974 74%, #3c599f 100%);
    background: -webkit-linear-gradient(top, #00001e 0%, #01023a 24%, #031a4e 48%, #253974 74%, #3c599f 100%);
    background: -o-linear-gradient(top, #00001e 0%, #01023a 24%, #031a4e 48%, #253974 74%, #3c599f 100%);
    background: linear-gradient(to bottom, #00001e 0%, #01023a 24%, #031a4e 48%, #253974 74%, #3c599f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00001e', endColorstr='#3c599f', GradientType=0);
}

.lines-container::before {
    background: #282928;
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    -webkit-transition: opacity 2s linear;
    -o-transition: opacity 2s linear;
    transition: opacity 2s linear;
    opacity: 1;
}

.lines-container.opa::before {
    opacity: 0;
}

.matrix {
    -moz-transform: matrix(0.70, 0, 0, 0.70, 0, 0);
    -webkit-transform: matrix(0.70, 0, 0, 0.70, 0, 0);
    -o-transform: matrix(0.70, 0, 0, 0.70, 0, 0);
    -ms-transform: matrix(0.70, 0, 0, 0.70, 0, 0);
    transform: matrix(0.70, 0, 0, 0.70, 0, 0);
}

.name {
    max-width: 65vmin;
    max-height: 40vmin;
    background: url("https://maxi-boxi.github.io/descend/name.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-transform: rotateZ(1.2deg);
    -ms-transform: rotate(1.2deg);
    transform: rotateZ(1.2deg);
    left: -22.5vmin;
    top: -7vmin;
    opacity: 0;
    -webkit-transition: opacity 1.7s ease-out;
    -o-transition: opacity 1.7s ease-out;
    transition: opacity 1.7s ease-out;
}

.album-name1 {
    position: absolute;
    max-width: 33vmin;
    max-height: 33vmin;
    background: url("https://maxi-boxi.github.io/descend/album-name.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    left: 79.2vmin;
    top: 106.5vmin;
}

.box1 {
    max-width: 5vmin;
    max-height: 10vmin;
    -webkit-transform: rotateZ(-100deg);
    -ms-transform: rotate(-100deg);
    transform: rotateZ(-100deg);
    top: -15vmin;
    right: -30vmin;
    z-index: 0;
    background: #01020a;
    background: -moz-linear-gradient(top, #01020a 0%, #01023a 24%, #010c42 48%, #1c326b 74%, #3f5da6 100%);
    background: -webkit-linear-gradient(top, #01020a 0%, #01023a 24%, #010c42 48%, #1c326b 74%, #3f5da6 100%);
    background: -o-linear-gradient(top, #01020a 0%, #01023a 24%, #010c42 48%, #1c326b 74%, #3f5da6 100%);
    background: linear-gradient(to bottom, #01020a 0%, #01023a 24%, #010c42 48%, #1c326b 74%, #3f5da6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#01020a', endColorstr='#3f5da6', GradientType=0);

}

.box1::before {
    background: #b9eae8;
    background: -moz-linear-gradient(-45deg, #b9eae8 0%, #efd4c9 23%, #d6abd5 49%, #d6a2d5 73%, #bad3b6 100%);
    background: -webkit-linear-gradient(-45deg, #b9eae8 0%, #efd4c9 23%, #d6abd5 49%, #d6a2d5 73%, #bad3b6 100%);
    background: -o-linear-gradient(315deg, #b9eae8 0%, #efd4c9 23%, #d6abd5 49%, #d6a2d5 73%, #bad3b6 100%);
    background: linear-gradient(135deg, #b9eae8 0%, #efd4c9 23%, #d6abd5 49%, #d6a2d5 73%, #bad3b6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b9eae8', endColorstr='#bad3b6', GradientType=1);
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    -webkit-transition: opacity 2.5s linear;
    -o-transition: opacity 2.5s linear;
    transition: opacity 2.5s linear;
    opacity: 1;
}

.box1.opa::before {
    opacity: 0;
}

.circle-container,
.box-container {
    max-width: 100vmin;
    max-height: 100vmin;
    overflow: hidden;
}

.circle {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    max-width: 260vmin;
    max-height: 260vmin;
    -webkit-transform: rotateZ(-150deg);
    -ms-transform: rotate(-150deg);
    transform: rotateZ(-150deg);
    top: 108.5vmin;
    left: -63vmin;
    background: #01020a;
    background: -moz-linear-gradient(top, #01020a 0%, #1c1b55 16%, #3c2f8a 32%, #5b3292 48%, #d254a0 74%, #faf7f9 100%);
    background: -webkit-linear-gradient(top, #01020a 0%, #1c1b55 16%, #3c2f8a 32%, #5b3292 48%, #d254a0 74%, #faf7f9 100%);
    background: -o-linear-gradient(top, #01020a 0%, #1c1b55 16%, #3c2f8a 32%, #5b3292 48%, #d254a0 74%, #faf7f9 100%);
    background: linear-gradient(to bottom, #01020a 0%, #1c1b55 16%, #3c2f8a 32%, #5b3292 48%, #d254a0 74%, #faf7f9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#01020a', endColorstr='#faf7f9', GradientType=0);
}

.audio-container {
    max-height: 100vmin;
    max-width: 100vmin;
    top: 0;
    left: 0;
    color: #fff;
    font-size: 6vmin;
    letter-spacing: 1.2vmin;
    line-height: 1.5;
    opacity: 0;
    -webkit-transition: opacity 2s ease-out, left 1.5s ease-in-out 2s, top 1.5s ease-in-out 2s;
    -o-transition: opacity 2s ease-out, left 1.5s ease-in-out 2s, top 1.5s ease-in-out 2s;
    transition: opacity 2s ease-out, left 1.5s ease-in-out 2s, top 1.5s ease-in-out 2s;
}

.audio-container-left {
    left: 115vmin;
    opacity: 0.6;
    -webkit-transition: opacity 2s ease-out 1.5s, left 1.5s ease-in-out;
    -o-transition: opacity 2s ease-out 1.5s, left 1.5s ease-in-out;
    transition: opacity 2s ease-out 1.5s, left 1.5s ease-in-out;
}

.audio-container-top {
    top: 115vmin;
    opacity: 0.6;
    -webkit-transition: opacity 2s ease-out 1.5s, top 1.5s ease-in-out;
    -o-transition: opacity 2s ease-out 1.5s, top 1.5s ease-in-out;
    transition: opacity 2s ease-out 1.5s, top 1.5s ease-in-out;
}

p {
    margin-left: 7%;
    margin-top: 15%;
    margin-bottom: 7%;
}

a {
    outline: none;
    color: pink;
    text-decoration: none;
    font-style: italic;
    font-size: 4vmin;
    margin-left: 7%;
    display: inline-block;
    width: 4vmin;
}

a:visited {
    color: pink;
}

a:hover {
    color: pink;
}

.pointerEvent {
    pointer-events: auto;
}

.box-button,
.circle-button,
.container-button {
    position: absolute;
    background: transparent;
    border: 0.8vmin solid #eee;
    width: 6vmin;
    height: 6vmin;
    cursor: pointer;
    top: 72%;
}

.box-button {
    left: 15%;
    -webkit-transform: rotateZ(45deg);
    -ms-transform: rotate(45deg);
    transform: rotateZ(45deg);
}

.circle-button {
    left: 46%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.container-button {
    left: 77%;
}

.buttonClickColor {
    filter: drop-shadow(0.1vmin 0.1vmin 3vmin red);
    -webkit-filter: drop-shadow(0.1vmin 0.1vmin 3vmin red);
    border: 1vmin solid pink;
}

/*------------animations------------*/

.circleAnim {
    -webkit-animation: circle 1.9s ease 2.1s forwards;
    animation: circle 1.9s ease 2.1s forwards;
}

@-webkit-keyframes circle {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
        max-width: 26vmin;
        max-height: 26vmin;
        -webkit-transform: rotateZ(40deg) translateX(-5vmin) translateY(-99.7vmin);
        transform: rotateZ(40deg) translateX(-5vmin) translateY(-99.7vmin);
    }
}

@keyframes circle {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
        max-width: 26vmin;
        max-height: 26vmin;
        -webkit-transform: rotateZ(40deg) translateX(-5vmin) translateY(-99.7vmin);
        transform: rotateZ(40deg) translateX(-5vmin) translateY(-99.7vmin);
    }
}

.albumname1Anim {
    -webkit-animation: albumname 2.7s linear 4s forwards;
    animation: albumname 2.7s linear 4s forwards;
}

@-webkit-keyframes albumname {
    0% {
    }
    15% {
        -webkit-transform: translateX(-48.1vmin) translateY(-50vmin);
        transform: translateX(-48.1vmin) translateY(-50vmin);
    }
    30% {
        -webkit-transform: translateX(-34.1vmin) translateY(-36vmin);
        transform: translateX(-34.1vmin) translateY(-36vmin);
    }
    40% {
        -webkit-transform: translateX(-48.1vmin) translateY(-50vmin);
        transform: translateX(-48.1vmin) translateY(-50vmin);
    }
    50% {
        -webkit-transform: translateX(-37.1vmin) translateY(-39vmin);
        transform: translateX(-37.1vmin) translateY(-39vmin);
    }
    70% {
        -webkit-transform: translateX(-48.1vmin) translateY(-50vmin);
        transform: translateX(-48.1vmin) translateY(-50vmin);
    }
    80% {
        -webkit-transform: translateX(-41.1vmin) translateY(-43vmin);
        transform: translateX(-41.1vmin) translateY(-43vmin);
    }
    90% {
        -webkit-transform: translateX(-48.1vmin) translateY(-50vmin);
        transform: translateX(-48.1vmin) translateY(-50vmin);
    }
    95% {
        -webkit-transform: translateX(-43.1vmin) translateY(-45vmin);
        transform: translateX(-43.1vmin) translateY(-45vmin);
    }
    97% {
        -webkit-transform: translateX(-48.1vmin) translateY(-50vmin);
        transform: translateX(-48.1vmin) translateY(-50vmin);
    }
    99% {
        -webkit-transform: translateX(-46.1vmin) translateY(-48vmin);
        transform: translateX(-46.1vmin) translateY(-48vmin);
    }
    100% {

        -webkit-transform: translateX(-48.1vmin) translateY(-50vmin);

        transform: translateX(-48.1vmin) translateY(-50vmin);
    }
}

@keyframes albumname {
    0% {
    }
    15% {
        -webkit-transform: translateX(-48.1vmin) translateY(-50vmin);
        transform: translateX(-48.1vmin) translateY(-50vmin);
    }
    30% {
        -webkit-transform: translateX(-34.1vmin) translateY(-36vmin);
        transform: translateX(-34.1vmin) translateY(-36vmin);
    }
    40% {
        -webkit-transform: translateX(-48.1vmin) translateY(-50vmin);
        transform: translateX(-48.1vmin) translateY(-50vmin);
    }
    50% {
        -webkit-transform: translateX(-37.1vmin) translateY(-39vmin);
        transform: translateX(-37.1vmin) translateY(-39vmin);
    }
    70% {
        -webkit-transform: translateX(-48.1vmin) translateY(-50vmin);
        transform: translateX(-48.1vmin) translateY(-50vmin);
    }
    80% {
        -webkit-transform: translateX(-41.1vmin) translateY(-43vmin);
        transform: translateX(-41.1vmin) translateY(-43vmin);
    }
    90% {
        -webkit-transform: translateX(-48.1vmin) translateY(-50vmin);
        transform: translateX(-48.1vmin) translateY(-50vmin);
    }
    95% {
        -webkit-transform: translateX(-43.1vmin) translateY(-45vmin);
        transform: translateX(-43.1vmin) translateY(-45vmin);
    }
    97% {
        -webkit-transform: translateX(-48.1vmin) translateY(-50vmin);
        transform: translateX(-48.1vmin) translateY(-50vmin);
    }
    99% {
        -webkit-transform: translateX(-46.1vmin) translateY(-48vmin);
        transform: translateX(-46.1vmin) translateY(-48vmin);
    }
    100% {

        -webkit-transform: translateX(-48.1vmin) translateY(-50vmin);

        transform: translateX(-48.1vmin) translateY(-50vmin);
    }
}

.box1Anim {
    -webkit-animation: box 2.9s ease-in-out forwards;
    animation: box 2.9s ease-in-out forwards;
}

@-webkit-keyframes box {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        max-width: 45vmin;
        max-height: 50vmin;
        -webkit-transform: rotateZ(170deg);
        transform: rotateZ(170deg);
        top: 25vmin;
        right: 0;
        opacity: 1;
    }
}

@keyframes box {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        max-width: 45vmin;
        max-height: 50vmin;
        -webkit-transform: rotateZ(170deg);
        transform: rotateZ(170deg);
        top: 25vmin;
        right: 0;
        opacity: 1;
    }
}

.box1-end {
    max-width: 45vmin;
    max-height: 50vmin;
    -webkit-transform: rotateZ(170deg);
    -ms-transform: rotate(170deg);
    transform: rotateZ(170deg);
    top: 25vmin;
    right: 0;
    opacity: 1;
}

.triangle-container-anim {
    -webkit-animation: triangle 2.4s ease-in-out forwards;
    animation: triangle 2.4s ease-in-out forwards;
}

@-webkit-keyframes triangle {
    0% {
    }
    100% {
        max-width: 55vmin;
        max-height: 68vmin;
        left: -14vmin;
        top: -3vmin;
        -webkit-transform: rotateZ(5deg) scaleX(1.18) scaleY(1.05);
        transform: rotateZ(5deg) scaleX(1.18) scaleY(1.05);
    }
}

@keyframes triangle {
    0% {
    }
    100% {
        max-width: 55vmin;
        max-height: 68vmin;
        left: -14vmin;
        top: -3vmin;
        -webkit-transform: rotateZ(5deg) scaleX(1.18) scaleY(1.05);
        transform: rotateZ(5deg) scaleX(1.18) scaleY(1.05);
    }
}

.triangle-container-end {
    max-width: 55vmin;
    max-height: 68vmin;
    left: -14vmin;
    top: -3vmin;
    -webkit-transform: rotateZ(5deg) scaleX(1.18) scaleY(1.05);
    -ms-transform: rotate(5deg) scaleX(1.18) scaleY(1.05);
    transform: rotateZ(5deg) scaleX(1.18) scaleY(1.05);
}

.neonAnim {
    -webkit-animation: neon 2.5s linear 1s forwards;
    animation: neon 2.5s linear 1s forwards;
}

@-webkit-keyframes neon {
    0% {
    }

    50% {
        filter: drop-shadow(0.1vmin 0.1vmin 4vmin pink);
        -webkit-filter: drop-shadow(0.1vmin 0.1vmin 4vmin pink);
    }
    100% {

    }
}

@keyframes neon {
    0% {
    }

    50% {
        filter: drop-shadow(0.1vmin 0.1vmin 4vmin pink);
        -webkit-filter: drop-shadow(0.1vmin 0.1vmin 4vmin pink);
    }
    100% {

    }
}

.matrixAnim {
    -webkit-animation: matrixanim 0.5s linear infinite alternate, meganeon 6s linear infinite;
    animation: matrixanim 0.5s linear infinite alternate, meganeon 6s linear infinite;

}

@-webkit-keyframes matrixanim {
    0% {
        -moz-transform: matrix(0.7, 0, 0, 0.7, 0, 0);
        -webkit-transform: matrix(0.7, 0, 0, 0.7, 0, 0);
        -o-transform: matrix(0.7, 0, 0, 0.7, 0, 0);
        -ms-transform: matrix(0.7, 0, 0, 0.7, 0, 0);
        transform: matrix(0.7, 0, 0, 0.7, 0, 0);
    }
    25% {
        -moz-transform: matrix(0.71, 0, 0, 0.71, 0, 0);
        -webkit-transform: matrix(0.71, 0, 0, 0.71, 0, 0);
        -o-transform: matrix(0.71, 0, 0, 0.71, 0, 0);
        -ms-transform: matrix(0.71, 0, 0, 0.71, 0, 0);
        transform: matrix(0.71, 0, 0, 0.71, 0, 0);
    }
    100% {
        -moz-transform: matrix(0.75, 0, 0, 0.75, 0, 0);
        -webkit-transform: matrix(0.75, 0, 0, 0.75, 0, 0);
        -o-transform: matrix(0.75, 0, 0, 0.75, 0, 0);
        -ms-transform: matrix(0.75, 0, 0, 0.75, 0, 0);
        transform: matrix(0.75, 0, 0, 0.75, 0, 0);
    }
}

@keyframes matrixanim {
    0% {
        -moz-transform: matrix(0.7, 0, 0, 0.7, 0, 0);
        -webkit-transform: matrix(0.7, 0, 0, 0.7, 0, 0);
        -o-transform: matrix(0.7, 0, 0, 0.7, 0, 0);
        -ms-transform: matrix(0.7, 0, 0, 0.7, 0, 0);
        transform: matrix(0.7, 0, 0, 0.7, 0, 0);
    }
    25% {
        -moz-transform: matrix(0.71, 0, 0, 0.71, 0, 0);
        -webkit-transform: matrix(0.71, 0, 0, 0.71, 0, 0);
        -o-transform: matrix(0.71, 0, 0, 0.71, 0, 0);
        -ms-transform: matrix(0.71, 0, 0, 0.71, 0, 0);
        transform: matrix(0.71, 0, 0, 0.71, 0, 0);
    }
    100% {
        -moz-transform: matrix(0.75, 0, 0, 0.75, 0, 0);
        -webkit-transform: matrix(0.75, 0, 0, 0.75, 0, 0);
        -o-transform: matrix(0.75, 0, 0, 0.75, 0, 0);
        -ms-transform: matrix(0.75, 0, 0, 0.75, 0, 0);
        transform: matrix(0.75, 0, 0, 0.75, 0, 0);
    }
}

@-webkit-keyframes meganeon {
    0% {
    }
    25% {
        filter: drop-shadow(0.1vmin 0.1vmin 4vmin blue);
        -webkit-filter: drop-shadow(0.1vmin 0.1vmin 4vmin blue);
    }

    50% {
        filter: drop-shadow(0 0 0 blue);
        -webkit-filter: drop-shadow(0 0 0 blue);
    }
    75% {
        filter: drop-shadow(0.1vmin 0.1vmin 4vmin pink);
        -webkit-filter: drop-shadow(0.1vmin 0.1vmin 4vmin pink);
    }
    100% {

    }
}

@keyframes meganeon {
    0% {
    }
    25% {
        filter: drop-shadow(0.1vmin 0.1vmin 4vmin blue);
        -webkit-filter: drop-shadow(0.1vmin 0.1vmin 4vmin blue);
    }

    50% {
        filter: drop-shadow(0 0 0 blue);
        -webkit-filter: drop-shadow(0 0 0 blue);
    }
    75% {
        filter: drop-shadow(0.1vmin 0.1vmin 4vmin pink);
        -webkit-filter: drop-shadow(0.1vmin 0.1vmin 4vmin pink);
    }
    100% {

    }
}

/*-----------------Particale-----------------*/

#particleCanvas-White,
#particleCanvas-Blue {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    -webkit-transition: opacity 10s ease-out 6s;
    -o-transition: opacity 10s ease-out 6s;
    transition: opacity 10s ease-out 6s;
}